<kendo-grid [data]="view" [selectable]="true" [sortable]="true" [sort]="sort" (sortChange)="sortChange($event)" [pageSize]="pageSize"
  [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)" (detailCollapse)="pauseTrack()">

  <kendo-grid-column field="collectionName" title="Title (tap to sort)" >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ dataItem.artworkUrl60 }}" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body ">
              <h5 class="card-title">{{ dataItem.collectionName }}</h5>
              <p class="card-text">{{ dataItem.releaseDate | date }}</p>
              <p class="card-text"><small class="text-muted">{{ dataItem.collectionPrice }}$</small></p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <div *kendoGridDetailTemplate="let dataItem">
    <app-track [collectionId]="dataItem.collectionId" (onPlayTrack)="playTrack($event)"></app-track>
  </div>

  
</kendo-grid>
