<kendo-grid [data]="view" [scrollable]="'none'">
  <!--component not found, explorer uneable that. fixed with HTML audio source-->
  <!--<kendo-grid-column > 
    <ng-template kendoGridCellTemplate let-dataItem>
      <app-track-control [track]="dataItem">
      </app-track-control>
      <audio src={{dataItem.previewUrl}} controls="controls" type="audio/mpeg" preload="preload">
        </audio>
    </ng-template>
  </kendo-grid-column>-->
  <kendo-grid-column title="Track" class="track">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="track-container">
        <app-track-visualization [track]="dataItem">
        </app-track-visualization>
        <span class="title">{{ dataItem.trackCensoredName }}</span>
        <audio src={{dataItem.previewUrl}} controls="controls" type="audio/mpeg" preload="preload">
        </audio>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>